<div class="col-12 col-lg-6">
    {{ form_start(form) }}    
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {
                'attr' : {
                    'class' : 'form-control',
                }
            }) }}    
        </div>

        <div class="form-group">
            {{ form_label(form.password) }}
            {{ form_widget(form.password, {
                'attr' : {
                    'class' : 'form-control',
                }
            }) }}
        </div>

        <div class="form-group">
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName, {
                'attr' : {
                    'class' : 'form-control',
                }
            }) }}
        </div>

        <div class="form-group">
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName, {
                'attr' : {
                    'class' : 'form-control',
                }
            }) }}
        </div>

        <div class="form-group">
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone, {
                'attr' : {
                    'class' : 'form-control',
                }
            }) }}
        </div>

         <div class="text-right mt-3">
            <a class="btn btn-default" href="{{ path('app_admin_user_index') }}">cancel</a>
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
    {{ form_end(form) }}
</div>