<form class="mx-2" method="post" action="{{ path('app_admin_user_remove_group', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to remove this group in this user?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <input type="hidden" name="_group" value="{{ group.id }}">
    <button class="btn btn-outline-danger btn-sm">remove</button>
</form>
