{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 class="page-title">Edit user</h1>
    {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
