{% extends 'base.html.twig' %}

{% block title %}Group{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-md-7">
            <h4> 
                <a href="{{ path('app_admin_user_index') }}" class="btn-link primary-color">User</a>
                > {{ user.firstName ~ " " ~ user.lastName }}
            </h4>
            <hr>
            <div class="user-description">
                    <div class="user--item pl-2">
                    <span class="fa fa-name">Firstname</span>
                    <span>{{ user.firstName }}</span>
                </div>
                <div class="user--item pl-2">
                    <span class="fa fa-name">Lastname</span>
                    <span>{{ user.lastName }}</span>
                </div>
                <div class="user--item">
                    <span class="fa fa-envelope"></span>
                    <span>{{ user.email }}</span>
                </div>
                <div class="user--item pl-2">
                    <span class="fa fa-phone"></span>
                    <span>{{ user.phone }}</span>
                </div>
            </div>
        </div>

        <div class="col-md-5 card p-3">
            <form method="POST">
                <div class="d-flex justify-content-between">
                    <h2>Chose a group</h2>
                </div>
                <ul class="list-group list-group-flush mt-4">
                    {% for group in groups %}
                        <li class="list-group-item">        
                            <div class="page-header">
                                <div>
                                    <label>{{ group.name }}</label>
                                </div>
                                <div>
                                    <input type="checkbox" value="{{ group.id }}" name="groups[]">
                                </div>
                            </div>
                        </li>               
                    {% endfor %}
                </ul>
                <div class="text-right mt-2">
                    <a class="btn btn-outline-primary" href="{{ path('app_admin_user_show', {'id': user.id }) }}">Cancel</a>
                    <button class="btn btn-primary" type="submit">Validate</button>
                </div>
            </form>          
        </div>
    </div>


{% endblock %}
