{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>User list</h2>
        <a href="{{ path('app_admin_user_new') }}" class="btn btn-success">Add new user</a>
    </div>

    <div class="user-list">
        {% for user in users %}
            <div class="user-list--item">
                <div class="list-item--name">
                    <label>{{ user.lastName ~ ' ' ~ user.firstName }}</label>
                    <span class="d-block small">{{ user.phone }}</span>
                </div>
                <div class="list-item--control">
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-danger">edit</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
