{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-md-7">
            <div class="">
                <h4> 
                    <a href="{{ path('app_admin_user_index') }}" class="btn-link primary-color">User</a>
                     > {{ user.firstName ~ " " ~ user.lastName }}
                </h4>
                <hr>
                <div class="user-description">
                     <div class="user--item pl-2">
                        <span class="fa fa-name">Firstname</span>
                        <span>{{ user.firstName }}</span>
                    </div>
                    <div class="user--item pl-2">
                        <span class="fa fa-name">Lastname</span>
                        <span>{{ user.lastName }}</span>
                    </div>
                    <div class="user--item">
                        <span class="fa fa-envelope"></span>
                        <span>{{ user.email }}</span>
                    </div>
                    <div class="user--item pl-2">
                        <span class="fa fa-phone"></span>
                        <span>{{ user.phone }}</span>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="d-flex">
                        <a class="btn btn-primary mr-2" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">edit</a>
                        <div class="ml-2">
                            {{ include('admin/user/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-5 card p-3">
            <div class="page-header">
                <h4>Assigned group</h4>
                <a class="btn btn-outline-primary" href="{{ path('app_admin_user_add_group', {'id': user.id }) }}">Add group</a>
            </div>
            <ul class="list-group list-group-flush mt-2 pt-3">
               {% for group in user.groupList %}
                    <li class="list-group-item">        
                        <div class="page-header">
                            <div>
                                <label>{{ group.name }}</label>
                            </div>
                            <div class="page-header">
                                {{ include('admin/user/_remove_group.html.twig') }}
                                <a href="{{ path('app_admin_group_show', {id: group.id}) }}" class="btn btn-sm btn-outline-primary">Show</a>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <div class="text-center">
                        <div>Group Assiged empty.</div>
                        <a class="btn btn-outline-success mt-3" href="{{ path('app_admin_user_add_group', {'id': user.id }) }}">Add group</a>
                    </div>
                {% endfor %}
            </ul>           
        </div>

    </div>












{% endblock %}
