{% extends "base.html.twig" %}

{% block body %}
    <div class="admin-dashboard">
        <div class="row">
            <div class="col">
                <a class="card p-2" href="{{ path('app_admin_user_index') }}">
                    <div><span class="fa fa-user"></span></div>
                    <div>
                        Users
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card p-2" href="{{ path('app_admin_group_index') }}">
                    <div><span class="fa fa-users"></span></div>
                    <div>
                        Groups
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card p-2" href="#">
                    <div>
                        <span class="fa fa-code"></span>
                    </div>
                    <div>
                        API
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}