.admin-dashboard {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    a.card {
        min-width: 15rem;
        min-height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: unset;
        font-size: 2rem;
    }
}
