.card-group{
    margin-bottom: 2rem;
    
    .card-group__title {
        text-align: center;
        color: #fb794a;
        width: 100%;
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    .card-group--description {
        color: grey;
        margin-top: 10px;
        height: 149px;
        overflow: hidden;
        padding-bottom: 5px;
        padding: 0 15px;
    }
    
    .card-group--action {
        text-align: right;
        width: 100%;
        padding: 5px 15px;
    }

}