<form method="post" class="mx-3" action="{{ path('app_admin_group_delete', {'id': group.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ group.id) }}">
    <button class="btn btn-outline-danger">Delete</button>
</form>
