<div class="col-12 col-lg-6">
    {{ form_start(form) }}
        <div class="form-group">
            <label>Group name</label>
            {{ form_widget(form.name, {attr: {'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            <label>Short description</label>
            {{ form_widget(form.description, {attr: {'class':'form-control'}}) }}
        </div>
        <div class="text-right mt-3">
            <a class="btn btn-default" href="{{ path('app_admin_group_index') }}">cancel</a>
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
    {{ form_end(form) }}
</div>
