<form class="mx-2" method="post" action="{{ path('app_admin_group_remove_user', {'id': group.id}) }}" onsubmit="return confirm('Are you sure you want to remove this user in this group?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ group.id) }}">
    <input type="hidden" name="_user" value="{{ member.id }}">
    <button class="btn btn-outline-danger btn-sm">remove</button>
</form>
