{% extends 'base.html.twig' %}

{% block title %}Edit Group{% endblock %}

{% block body %}
    <h1>Edit Group</h1>
    {{ include('admin/group/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
