{% extends 'base.html.twig' %}

{% block title %}Group index{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>User group</h1>
        <a href="{{ path('app_admin_group_new') }}" class="btn btn-success">Add new group</a>
    </div>


    <div class="row mt-4">
        {% for group in groups %}
            <div class="col-sm-4 col-lg-3">
                <div class="card card-group p-2">
                    <div class="card-group__title">
                        {{ group.name }}
                    </div>
                    <div class="card-group--description">
                        {{ group.description }}
                    </div>
                    <div class="card-group--action">
                        <a href="{{ path('app_admin_group_edit', {'id': group.id}) }}"  class="btn btn-secondary">edit</a>
                        <a href="{{ path('app_admin_group_show', {'id': group.id}) }}" class="btn btn-primary">show</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
