{% extends 'base.html.twig' %}

{% block title %}Group{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-md-7">
            <div class="">
                <h4> 
                    <a href="{{ path('app_admin_group_index') }}" class="btn-link primary-color">Group</a>
                     >  {{ group.name }}
                </h4>
                <hr>
                <p>
                    {{ group.description }}
                </p>
            </div>
        </div>
        <div class="col-md-5 card p-3">
            <form method="POST">
                <div class="d-flex justify-content-between">
                    <h2>Chose member</h2>
                </div>
                <ul class="list-group list-group-flush mt-4">
                    {% for member in members %}
                        <li class="list-group-item">        
                            <div class="page-header">
                                <div>
                                    <label>{{ member.lastName ~ ' ' ~ member.firstName }}</label>
                                    <span class="d-block small">{{ member.email }}</span>
                                </div>
                                <div>
                                    <input type="checkbox" value="{{ member.id }}" name="members[]">
                                </div>
                            </div>
                        </li>               
                    {% endfor %}
                </ul>
                <div class="text-right mt-2">
                    <a class="btn btn-outline-primary" href="{{ path('app_admin_group_show', {'id': group.id }) }}">Cancel</a>
                    <button class="btn btn-primary" type="submit">Validate</button>
                </div>
            </form>          
        </div>
    </div>


{% endblock %}
