{% extends 'base.html.twig' %}

{% block title %}Group{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-md-7">
            <div class="">
                <h4> 
                    <a href="{{ path('app_admin_group_index') }}" class="btn-link primary-color">Group</a>
                     >  {{ group.name }}
                </h4>
                <hr>
                <p>
                    {{ group.description }}
                </p>
                <div class="mt-2">
                    <div class="d-flex">
                        <a class="btn btn-primary mr-2" href="{{ path('app_admin_group_edit', {'id': group.id}) }}">edit</a>
                        <div class="ml-2">
                            {{ include('admin/group/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 card p-3">
            <div class="page-header">
                <h2>Members</h2>
                <a class="btn btn-outline-primary" href="{{ path('app_admin_group_add_member', {'id': group.id }) }}">Invite member</a>
            </div>
            <ul class="list-group list-group-flush mt-2 pt-3">
               {% for member in group.members %}
                    <li class="list-group-item">        
                        <div class="page-header">
                            <div>
                                <label>{{ member.lastName ~ ' ' ~ member.firstName }}</label>
                                <span class="d-block small">{{ member.email }}</span>
                            </div>
                            <div class="d-flex">
                                {{ include('admin/group/_remove_user.html.twig') }}
                                <a href="{{ path('app_admin_user_show', {id: member.id}) }}" class="btn btn-sm btn-outline-primary">Show</a>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <div class="text-center">
                        <div>User group is empty.</div>
                        <a class="btn btn-outline-success mt-3" href="{{ path('app_admin_group_add_member', {'id': group.id }) }}">Add member</a>
                    </div>
                {% endfor %}
            </ul>           
        </div>
    </div>


{% endblock %}
